
/*Building Lights*/


html {
  font-size: 1rem;
  font-family: 'EB Garamond', serif;
}

body {
  background: #070917;
}

main {
  display: grid;
  grid-template-columns: 12 1fr;
  grid-template-rows: auto;
  grid-gap:2rem;
  margin: 0 auto;
  width: 100%;
}

.building-1 {
  display: grid;
  grid-template-columns: 5 1fr;
  grid-template-rows: auto;
  margin: 2rem;
}

.square {
  background: #FFF59F;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}

.square-change {
  background: #1F1D26;
}